html {
  font-size: 50px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: 21.33333333px;
  }
}
@media screen and (min-width: 360px) {
  html {
    font-size: 24px;
  }
}
@media screen and (min-width: 375px) {
  html {
    font-size: 25px;
  }
}
@media screen and (min-width: 384px) {
  html {
    font-size: 25.6px;
  }
}
@media screen and (min-width: 389px) {
  html {
    font-size: 25.93333333px;
  }
}
@media screen and (min-width: 400px) {
  html {
    font-size: 26.66666667px;
  }
}
@media screen and (min-width: 414px) {
  html {
    font-size: 27.6px;
  }
}
@media screen and (min-width: 424px) {
  html {
    font-size: 28.4px;
  }
}
@media screen and (min-width: 480px) {
  html {
    font-size: 32px;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 36px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 48px;
  }
}
@media screen and (min-width: 750px) {
  html {
    font-size: 50px;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  width: 15rem;
  margin: 0 auto;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.clearfix::after,
.clearfix::before {
  content: " ";
  display: table;
  clear: both;
}
.pc {
  display: none!important;
}
#homepage {
  width: 15rem;
  height: 10rem;
  position: relative;
}
#homepage img {
  width: 100%;
}
#geek {
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 9rem;
}
#geek img {
  width: 95%;
}
#home {
  width: 15rem;
  height: 10.46rem;
  background: url(../img/房子内部图.png) no-repeat;
  background-size: 100% auto;
  position: relative;
}
#boat {
  position: absolute;
  bottom: -2.5rem;
  left: -1rem;
  width: 6rem;
  height: 6rem;
  z-index: 1;
}
#backgoundbox {
  margin-top: -0.1rem;
  background: linear-gradient(rgba(26, 55, 89), rgba(10, 17, 27));
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /*设置问答部分块*/
}
#backgoundbox #intro-box {
  margin-top: 5rem;
  border: 2px solid white;
  border-radius: 15px;
  width: 13rem;
  padding: 10px;
  position: relative;
}
#backgoundbox #intro-box #introplace {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: -2.4rem;
  left: 53%;
  transform: translate(-50%);
  text-align: center;
  width: 7rem;
}
#backgoundbox #intro-box #introplace i {
  margin-left: 5px;
}
#backgoundbox #intro-box .pic-text {
  background-color: #112237;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
}
#backgoundbox #intro-box .pic-text #pic-text {
  display: flex;
}
#backgoundbox #intro-box .pic-text #pic-text div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#backgoundbox #intro-box .pic-text img {
  align-self: center;
  height: 6rem;
}
#backgoundbox #intro-box .pic-text #intro-text {
  align-self: center;
  color: aliceblue;
  width: 90%;
  margin-bottom: 10px;
}
#backgoundbox #intro-box .pic-text #intro-text p {
  font-size: 0.5rem;
}
#backgoundbox #intro-box #card1 {
  margin-bottom: 10px;
  border-radius: 5px;
}
#backgoundbox #intro-box #card1 h1 {
  color: aliceblue;
  text-align: center;
  font-size: 1.1rem;
}
#backgoundbox #intro-box #card1 h2 {
  color: aliceblue;
  text-align: center;
  font-size: 0.74rem;
}
#backgoundbox #intro-box #card2 {
  margin-bottom: 10px;
  border-radius: 5px;
}
#backgoundbox #intro-box #card2 img {
  margin-left: -5px;
}
#backgoundbox #intro-box #card2 h1 {
  color: aliceblue;
  text-align: center;
  font-size: 1.1rem;
}
#backgoundbox #intro-box #card2 h2 {
  color: aliceblue;
  width: 85%;
  text-align: center;
  font-size: 0.5rem;
}
#backgoundbox #intro-box #card3 {
  margin-bottom: 10px;
  border-radius: 5px;
}
#backgoundbox #intro-box #card3 img {
  height: 5.5rem;
  margin-left: 25px;
  margin-right: -8px;
}
#backgoundbox #intro-box #card3 h1 {
  color: aliceblue;
  text-align: center;
  font-size: 1.1rem;
}
#backgoundbox #intro-box #card3 h2 {
  color: aliceblue;
  width: 80%;
  text-align: center;
  font-size: 0.54rem;
}
#backgoundbox #intro-box #card4 {
  margin-bottom: 10px;
  border-radius: 5px;
}
#backgoundbox #intro-box #card4 img {
  margin-left: 8px;
  margin-right: -5px;
}
#backgoundbox #intro-box #card4 h1 {
  color: aliceblue;
  text-align: center;
  font-size: 1.1rem;
}
#backgoundbox #intro-box #card4 h2 {
  color: aliceblue;
  width: 85%;
  text-align: center;
  font-size: 0.64rem;
}
#backgoundbox #about-box {
  margin-top: 100px;
  border: 3px solid white;
  border-radius: 6px;
  width: 13.5rem;
  position: relative;
}
#backgoundbox #about-box #aboutplace {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: -2.4rem;
  left: 50%;
  transform: translate(-50%);
}
#backgoundbox #about-box #aboutplace i {
  margin-left: 5px;
}
#backgoundbox #about-box ul {
  display: flex;
  justify-content: center;
  padding: 5px;
}
#backgoundbox #about-box li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 50%!important;
  opacity: 1!important;
  background-color: #fff;
}
#backgoundbox #about-box li img {
  margin-bottom: 10px;
}
#backgoundbox #about-box #time p {
  margin-top: -6px;
}
#backgoundbox #about-box #diversity {
  margin: 0 5px;
}
#backgoundbox #about-box img {
  width: 70%;
}
#backgoundbox #about-box p {
  margin-bottom: 8px;
  width: 90%;
  font-size: 11px;
  color: #441274;
  font-weight: 600;
}
#backgoundbox #contact-box {
  margin-top: 5rem;
  border: 3px solid white;
  border-radius: 10px;
  width: 13rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#backgoundbox #contact-box #contactplace {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: -2.4rem;
  left: 50%;
  transform: translate(-50%);
}
#backgoundbox #contact-box #contactplace i {
  margin-left: 5px;
}
#backgoundbox #contact-box #contact-text {
  margin-top: 20px;
  width: 11rem;
  border: 3px solid white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);
}
#backgoundbox #contact-box #contact-text p {
  color: white;
  font-size: 0.6rem;
}
#backgoundbox #contact-box #contact-text #ps {
  margin-top: 15px;
  letter-spacing: 2px;
  color: gainsboro;
  width: 90%;
  font-size: 0.44rem;
}
#backgoundbox #contact-box #email {
  cursor: pointer;
  color: #551A8B;
}
#backgoundbox #contact-box #a-li {
  z-index: 2;
  width: 5rem;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#backgoundbox #contact-box #a-li a {
  color: #551A8B;
  display: block;
  background-color: aliceblue;
  width: 80%;
  height: 28px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  font-size: 0.45rem;
  font-weight: 800;
  line-height: 28px;
  text-align: center;
}
#backgoundbox #contact-box #a-li a i {
  margin-left: 2px;
}
#backgoundbox #contact-box #mailbox {
  z-index: 2;
  right: 0;
  bottom: 0;
  width: 30%;
  position: absolute;
}
#backgoundbox #contact-box #envelope {
  z-index: 2;
  left: 0;
  bottom: 0;
  width: 25%;
  position: absolute;
}
#backgoundbox #contact-box #wave {
  bottom: 0;
  width: 104%;
  position: absolute;
}
#backgoundbox .QA-wrapper {
  width: 13rem;
  border: 5px solid cornflowerblue;
  border-radius: 25px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: url(../img/首页背景.jpg);
  background-size: 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#backgoundbox #center-QA {
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  color: whitesmoke;
  font-size: 1rem;
  text-align: center;
}
#backgoundbox #center-QA i {
  margin-left: 5px;
}
#backgoundbox #QA-list {
  width: 78%;
  margin-bottom: 20px;
}
#backgoundbox #QA-ul a {
  display: block;
  line-height: 1.2rem;
  font-size: 0.59rem;
  color: whitesmoke;
}
#backgoundbox #QA-ul p {
  font-weight: 500;
  padding: 10px;
  font-size: 0.54rem;
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#backgoundbox #bottom-img {
  margin-top: 350px;
}
#backgoundbox #bottom-img #spaceman {
  width: 5rem;
  position: absolute;
  left: 60%;
  transform: translate(-50%);
  bottom: 20px;
  z-index: 2;
}
#backgoundbox #bottom-img #moon {
  width: 15rem;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
#backgoundbox #bottom-img #earth {
  width: 5rem;
  position: absolute;
  right: 0;
  bottom: 150px;
}
#backgoundbox #bottom-img #rocket {
  width: 14rem;
  position: absolute;
  left: -20px;
  bottom: 32px;
  transform: rotate(-15deg);
}
#backgoundbox #bottom-img #Jupiter {
  width: 5rem;
  position: absolute;
  left: -5px;
  bottom: 250px;
}
/*设置footer*/
.footer {
  width: 100%;
  background-color: rgba(230, 230, 230);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer #footer1 {
  margin-top: 10px;
  padding-top: 5px;
  border: 1px gray solid;
  border-left: transparent;
  border-right: transparent;
  border-bottom: transparent;
  font-size: 13px;
  width: 80%;
  text-align: center;
}
.footer #footer2 {
  font-size: 12px;
  width: 90%;
  text-align: center;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border: 1px gray solid;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
}
.showAnswer {
  display: block;
}
